.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
}

.Main {
  padding: 20px;
  border: 1px solid #b91dae;
  border-radius: 4px;
  background-color: #fe7dca;
}

.contactpage {
  padding: 20px;
  border: 1px solid #1967d2;
  border-radius: 4px;
  background-color: #7ed6ff;
}