.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1e96ff;
}

#root {
  background-color: #accdea66;
  min-height: 100vh;
}

.my-navbar {
  background-color: #5b89c9;
  color: rgb(252, 251, 251);
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  font-family: monospace;
  border-radius: 5px;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
}

.groom-flex {
  display: flex;
  align-items: stretch;
  flex-direction: column; 
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.groom-flex h2{
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #7aa2db;
  font-family: monospace;

}

.groom-flex h3{
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #3884ef;
  font-family: monospace;

}

.table-responsive {
   overflow-x: auto;
   width: 100%;
  
}

.table-shrink {
  table-layout: fixed;
  width: 100%;
  min-width: 0;
}

.table-shrink th,
.table-shrink td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Homepage-title h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #448bef;
  font-family: monospace;

}

.Homepage-title p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #75ceec;
}

.Homepage-title {
  text-align: center;

}

